# Nombre de la base de datos de PostgreSQL
POSTGRES_DB=cafeteria
POSTGRES_USER=postgres
POSTGRES_PASSWORD=tu_contraseña_secreta

# Variables que usará el backend de Django
DB_NAME=cafeteria
DB_USER=postgres
DB_PASSWORD=tu_contraseña_secreta
DB_HOST=db
DB_PORT=5432
