# Nombre de la base de datos de PostgreSQL
POSTGRES_DB=cafeteria
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres_password

# Variables que usará el backend de Django
DB_NAME=cafeteria
DB_USER=postgres
DB_PASSWORD=postgres_password
DB_HOST=db
DB_PORT=5432

# Django Security
# SECRET_KEY: si se omite, settings.py usa el valor de fallback hardcodeado
SECRET_KEY=
# DEBUG=False en producción
DEBUG=True
# En la VM agrega la IP pública separada por comas. Ejemplo: ALLOWED_HOSTS=192.168.1.100,mi-dominio.com
ALLOWED_HOSTS=

# Email (opcional - para recuperación de contraseña)
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
